Options -MultiViews
RewriteEngine On

# Proxy /api/* para NestJS via PHP
RewriteRule ^api(/.*)?$ api/index.php [QSA,L]

# SPA fallback — tudo que não é arquivo serve o index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
